body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;  /* Добавяне на външно пространство */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;  /* Направете ширината 100% от родителския елемент */
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 1200px;  /* Регулирайте ширината на контейнера */
    text-align: center;
}

.header {
    background-color: #ff9900;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.logo {
    width: 200px;
    height: auto;
    margin-top: 20px;
}

h1 {
    font-size: 3rem;
}

.description {
    font-size: 1.2rem;
    margin: 20px 0;
}

.cta {
    display: inline-block;
    background-color: #ff6600;
    color: white;
    padding: 15px 30px;
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 20px;
}

.cta:hover {
    background-color: #ff4500;
}

footer {
    font-size: 1rem;
    margin-top: 30px;
}
